{% extends "base.html" %}
{% load blog_tags %}

{% block title %}Stories{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row">
{% for post in posts %}
{% if user.is_authenticated and user == post.author %}
    <div class="col-sm-4">
        <div class="card-header">
            <a href="{{ post.get_absolute_url }}">
                <img src="/media/{{ post.photo }}" class="img-thumbnail" alt="">
                <span class="font-weight-bold">{{ post.title }}</span> &middot;</a>
            <span class="text-muted">Published {{ post.publish }} by {{ post.author}}</span>
        </div>
    <div class="card-body">{{ post.body | markdown |truncatewords:30 }}
        <div class="card-footer text-center text-muted">
            <a href="{% url 'post_edit' post.pk %}">Edit</a> |
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
        </div> 
    </div>

    
    </div>
    {% endif %}
{% endfor %}
</div>
<p>{% include "pagination.html" with page=posts %}</p>
</div>

{% endblock content %}